.animation-from-left{
	background-repeat: repeat;
	height:  9.375em;
	position: absolute;
	animation-duration: 3s;
  	animation-name: slidefromleft;
  	animation-fill-mode: forwards;
}

 @keyframes slidefromleft {
    0%   {left:-25em; top: 6.25em;}
    100% {left:37.5em; top: 6.25em;}
}

.animation-from-right{
	height: 9.375em;
	position: absolute;
	animation-duration:3s;
  	animation-name: slidefromright;
  	animation-fill-mode: forwards;
}

 @keyframes slidefromright {
    0%   {right:-25em; top:8.125em;}
    100% {right:37.5em; top:8.125em;}
}


.animated-name{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 5em;
  	position: absolute;
 	top: 1.35em;
  	left: 35%;
  	opacity: 0;
  	color: #20a4de;
  	font-weight: bold;
  	text-transform: uppercase;
  	animation-name: fadeInOut;
  	animation-delay: 2.7s;
  	animation-duration: 3s;
  	animation-fill-mode: forwards;
}


.animated-surname{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 5em;
  	position: absolute;
 	top: 1.8em;
  	right: 36%;
  	opacity: 0;
  	color: #20a4de;
  	font-weight: bold;
  	text-transform: uppercase;
  	animation-name: fadeInOut;
  	animation-delay: 2.7s;
  	animation-duration: 3s;
  	animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
