body {
    font-family: "Lato", sans-serif;
}

html, body {
    height:100%;
}

.svg {
    width: 100%;
}

circle {
    fill: lightblue;
}



/* circle, */

.banaan {
    fill: black;
    transition: all 2s ease;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
    to {
        r: 5;
    }
}



/*  sidenavbar */

ul {
    list-style-type: none;
}

.nav-item {
    text-transform: uppercase;
    font-weight: lighter;
    color: lightgrey;
    font-size: 1.5em;
}

.landing-page {
    margin: 5% 5%;
    font-weight: lighter;
    font-size: 4rem;
}



.fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.margin2 {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

}

#svgMain line {
    stroke: #555555;
    stroke-width: 1
}


.path {
    stroke-dasharray: 180;
    animation: dash 3s ease-in;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 180;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.path2 {
    stroke-dasharray: 180;
    animation: dash2 2.8s ease-in;
}

@keyframes dash2 {
    from {
        stroke-dashoffset: 180;
    }
    to {
        stroke-dashoffset: 360;
    }
}

.fade {
     animation: fadeInLoad 2s;

  animation-fill-mode: forwards; 
    animation-delay: 2.7s;
}
@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.vertical-center {
  margin-top:4.8rem;
}


.custom-item{
  color: #99ccff;
}

.custom-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: lightgrey;
    transition: width .3s;
}

.custom-item:hover::after {
    width: 100%;
}

.arrow-top {
  position: fixed;
  bottom : 3em;
  right: 2em;
}

.bigger-size-icon {
  font-size: 2em;
}
