/* svg */

.svg {
    width: 100%;

}

circle {
    fill: #20a4de;
}

#svgMain line {
    stroke: #999999;
    stroke-width: 1;
}

/*end style*/


/*sidebar*/
ul {
    list-style-type: none;
}

.nav-item {
    text-transform: uppercase;
    font-weight: lighter;
    color: lightgrey;
    font-size: 1.5em;
}

.custom-item {
    color: #20a4de;
}

.custom-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #999999;
    transition: width .3s;
}

.custom-item:hover::after {
    width: 100%;
}


.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
}

.fixed-icons{
    position: fixed;
    bottom:1em;
    left:40px;
}

.margin2 {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

/*end style*/


/*landingpage*/

.vertical-center {
    margin-top: 5%;
}

.landing-page {
    margin: 5% 5%;
    font-weight: lighter;
    font-size: 4rem;
}

/*end style*/


/* arrow to top */

.arrow-top {
    position: fixed;
    bottom: 4.3em;
    right: 2em;
}

.bigger-size-icon {
    font-size: 2em;
}

/*end style*/

.footer{
    bottom: 0;
    background: lightgrey;
    width: 100%;
    height: 4em;
    background-color: #007bff;
    line-height: 4em;
}

.footer-text{
    color:white;
}